html {
  height: 100%;
  background-color: rgba(20, 150, 200, 0.5);

}

body {

  min-height: 100%;
  margin-top: 100px;
}
header{  position: fixed;
  margin-top: -70px;
  padding: 10px;
  background-color: rgba(20, 150, 200, 0.8);

}
h1 {font-family: 'Hammersmith One', sans-serif;

}

h3 {font-family: sans-serif;

}

#Morning {
  background-color: rgba(100, 100, 100, 1);
}

.profligacy
{ float: left; padding: 30px;
}
.margot
{ float: left; padding: 30px;
}
.bracelet
{ float: left; padding: 30px;
}

.list
{ font-family: 'Hammersmith One', sans-serif;

}
  .morning
{background-color: rgba(100, 100, 100, 1);
color: white;
padding: 10px;
}


.afternoon
{background-color: rgba(100, 100, 100, 0.5);
  padding: 10px;
}

.evening
{
  background-color: rgba(100, 100, 100, 0.1);
  padding: 10px;
}

h2 {font-family: sans-serif;

}

p {font-family: 'Heebo',sans-serif;
  padding-left: 20px;
  indent: 20px;
}

.clearfix::after {
    overflow: auto;
    content: "";
    clear: both;
    display: table;

a {

}

nav {


}
