html {
  height: 100%;
  background-color: rgba(20, 150, 200, 0.5);
}

body {

  min-height: 100%;
  margin-top: 100px;
}

header {
  position: fixed;
  margin-top: -100px;
  padding: 20px;
  background-color: rgba(20, 150, 200, 0.8);
}

h1 {font-family: 'Ubuntu'; sans-serif;
padding-bottom: 15px;
}

h3 {font-family: sans-serif;
  padding: 10px;

}

#morning {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  background-color: rgba(100, 100, 100, 0.2);
  padding: 7px;
  border-radius: 5px;
  margin-right: 5px;

}
#morning:hover {
  background-color: rgba(50, 50, 50, .8);
  color: white;
}

#afternoon{
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  background-color: rgba(100, 100, 100, 0.2);
  padding: 7px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
#afternoon:hover {
  background-color: rgba(50, 50, 50, .8);
  color: white;
}
#evening{
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  background-color: rgba(100, 100, 100, 0.2);
  padding: 7px;
  border-radius: 5px;
  margin-left: 5px;
}
#evening:hover {
  background-color: rgba(50, 50, 50, .8);
  color: white;
}
#damia {
  color: white;
  text-decoration: none;
}
#damia:hover {
  color: rgba(20, 150, 200, 0.8);}

.profligacy
{ float: left; padding: 30px;
}
.margot
{ float: left; padding: 30px;
}
.bracelet
{ float: left; padding: 30px;
}

.list
{ font-family: 'Noto Sans'; sans-serif;
list-style: none;


}
  .morning
{background-color: rgba(100, 100, 100, 1);
color: white;
padding: 10px;
}


.afternoon
{background-color: rgba(100, 100, 100, 0.5);
  padding: 10px;
}

.evening
{
  background-color: rgba(100, 100, 100, 0.1);
  padding: 10px;
}

h2 {font-family: sans-serif;

}

p {font-family: sans-serif;

}
li {
  font-weight: bold;
}
.clearfix::after {
    overflow: auto;


a {

}

nav{}
