html {
  height: 100%;
}

body {
  background-color: rgba(100, 100, 100, 0.5);

  min-height: 100%;
  margin: 0;
}

h1 {font-family: sans-serif;

}

h3 {font-family:sans-serif;

}

.morning
}

.afternoon
}

.evening 

h5 {font-family: sans-serif;

}

p {font-family: sans-serif;

}

a {

}

nav {
}
